body {
  background-color: rgba(185, 196, 185, 0.2);
}

.calc-container {
  display: block;
}

h2 {
  text-align: center;
}

.calc {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(63, 80, 241, 0.4);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.calc,
td {
  border-collapse: collapse;
  padding: 5px;
}

.calc td button {
  display: block;
  background-color: white;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

#resultado {
  display: block;
  text-align: right;
  font-size: 40px;
  margin-bottom: 2px;
  /* margen inferior*/
  height: 40px;
  line-height: 40px;
  /* texto tamaño de altura de los resultados*/
  background-color: white;
  overflow-y: scroll;
  /*coloca un scroll en la parte horizontal del cuadro de resultados*/
}

.regresar {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: solid 1px black;
  background-color: rgba(63, 80, 241, 0.2);
}
