<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/estilos.css')}}" />
</head>

<body onload="init();">
  <div>
    <a class="regresar" href="{{ url_for('api') }}">
      <</a>
  </div>
  <div class="calc-container">
    <div>
      <h2>CALCULADORA</h2>
    </div>
    <table class="calc">
      <tr>
        <td colspan="4"><span id="resultado" class="resultado"></span></td>
      </tr>
      <tr>
        <td><button class="sum">+</button></td>
        <td><button class="res">-</button></td>
        <td><button class="mul">*</button></td>
        <td><button class="div">/</button></td>
      </tr>
      <tr>
        <td><button class="siete">7</button></td>
        <td><button class="ocho">8</button></td>
        <td><button class="nueve">9</button></td>
        <td><button class="del">C</button></td>
      </tr>
      <tr>
        <td><button class="cuatro">4</button></td>
        <td><button class="cinco">5</button></td>
        <td><button class="seis">6</button></td>
        <td><button class="igual">=</button></td>
      </tr>
      <tr>
        <td><button class="uno">1</button></td>
        <td><button class="dos">2</button></td>
        <td><button class="tres">3</button></td>
        <td><button class="cero">0</button></td>
      </tr>
    </table>
  </div>
  <script src="../static/funciones.js"></script>
</body>

</html>
