<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplicación</title>
</head>
<body>
    <div class = "container">
        <h1>{{ num1 }} * {{ num2 }}</h1>
    </div>
    <div class = "container">
        <h3>El resultado es {{ resultado }}</h3>
    </div>

    <div>
        <nav>
            <ul>
                <li><a href="{{ url_for('api_calc') }}">Regresar</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>