<head>
    <nav>
        <ul>
            <li><a href="{{ url_for('api_calc_Suma_1_2') }}">Suma</a></li>
            <li><a href="{{ url_for('api_calc_Resta_4_2') }}">Resta</a></li>
            <li><a href="{{ url_for('api_calc_Multiplicacion_5_5') }}">Multiplicacion</a></li>
            <li><a href="{{ url_for('api_calc_Division_8_2') }}">Division</a></li>  
        </ul>
    </nav>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('api') }}">Regresar</a></li>
        </ul>
    </nav>
</body>